/*
*	Colours
*/

// common colours:
$white: #ffffff;
$black: #000000;
$light-grey: #E6EEF0;
$body-blue: #f2f6f7;

// copy
$copy-col-common: #2C2C2C;		// common copy
$copy-col-light: #626262;
$copy-col-dropcap: #212020;

// links
$anchor-blue: #3F43FF;	// <a>