/*
*	Grid common elements/settings
*/

// Container widths:
$width-xsml: 375px;
$width-sml: 540px;
$width-med: 768px;
$width-lg: 971px;
// $width-xl: 1170px;

// Breakpoints:
$breakpoint-xsml: $width-xsml;
$breakpoint-sml: $width-sml;
$breakpoint-med: $width-med;
$breakpoint-lg: $width-lg;
// $breakpoint-xl: $width-xl;